{% block corpo %}

{# DESENHA A VIEW
********************************************************************************************************* #}
{% if attr[0] == '' %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 my-5">
      <p>Conteúdo INDEX</p>
      <a href="#" class="btn btn-info" onclick="teste('BdTablesCreate')">CRIAR TABELAS</a>
      <a href="#" class="btn btn-info" onclick="teste('BdTablesDelete')">APAGAR TABELAS</a>
      <br><br>
      <a href="#" class="btn btn-info" onclick="teste('BdPagesInsert')">Pages Inserts</a>
    </div>
  </div>
</div>

<script>

  function teste(p) {
    $.ajax({
      url: '{{URL_RAIZ}}admin/api/' + p,
      type: 'post',
      dataType: 'json',
      contentType: 'application/json',
      success: function (data) {
        $.notify({
          // options
          icon: 'glyphicon glyphicon-warning-sign',
          title: '<b>Notificação</b>',
          message: 'Resposta: ' + data.r,
          url: 'https://github.com/mouse0270/bootstrap-notify',
          target: '_blank',
        }, {
          type: "info",
          allow_dismiss: true,
          delay: 500,
          timer: 1000,
        });
      },
      error: function (data) {
        $.notify({ message: "Resposta: " + data.r });
      },
    });
  }

</script>
{%endif%}


{# DESENHA O POST
********************************************************************************************************* #}
{% if attr[0] == 'post' %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="m-0">Post</p>
    </div>
  </div>
</div>
{%endif%}


{# DESENHA O PUT
********************************************************************************************************* #}
{% if attr[0] == 'put' %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="m-0">Put</p>
    </div>
  </div>
</div>
{%endif%}


{# DESENHA O GET
********************************************************************************************************* #}
{% if attr[0] == 'get' %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="m-0">Get</p>
    </div>
  </div>
</div>
{%endif%}


{# DESENHA O DELETE
********************************************************************************************************* #}
{% if attr[0] == 'delete' %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="m-0">Delete</p>
    </div>
  </div>
</div>
{%endif%}
{% endblock %}